html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 6fr;
  height: inherit;
}

.header {
  display: flex;
  align-items: center;
  grid-column: 1 / 3;
  padding-left: 50px;
  font-size: 2.8rem;
  font-weight: bold;
  background-color: rgb(0, 179, 255);
  color: white;
}

.sidebar {
  background-color: #DDD;
}

.projects-title {
  font-weight: bold;
  font-size: 1.8rem;
}